[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = ">=2.2.10"
django-debug-toolbar = "*"
django-markdownx = "*"
django-filter = "*"
djangorestframework = "*"
django-simple-history = "*"
drf-rw-serializers = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-request-logging = "*"
django-currentuser = "*"
django-cors-headers = "*"
python-dotenv = "*"
python-coveralls = "*"
coveralls = "*"
coverage = "==4.5.4"

[requires]
python_version = "3.6"
